[submodule ".vim/pack/plugins/start/fugitive"]
	path = .vim/pack/plugins/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule ".vim/pack/plugins/start/vim-polyglot"]
	path = .vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/plugins/fzf"]
	path = .vim/plugins/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/plugins/fzf.vim"]
	path = .vim/plugins/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".vim/pack/plugins/start/bundle/dracula"]
	path = .vim/pack/plugins/opt/dracula
	url = git@github.com:dracula/vim.git
[submodule ".vim/pack/plugins/start/vim-flake8"]
	path = .vim/pack/plugins/start/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule ".vim/pack/flake8/start/vim-flake8"]
	path = .vim/pack/flake8/start/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule ".vim/pack/plugins/start/ale"]
	path = .vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".vim/pack/plugins/start/indentLine"]
	path = .vim/pack/plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".vim/pack/plugins/start/tagbar"]
	path = .vim/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/pack/plugins/opt/palenight.vim"]
	path = .vim/pack/plugins/opt/palenight.vim
	url = https://github.com/drewtempelmeyer/palenight.vim.git
[submodule ".vim/pack/plugins/start/vimwiki"]
	path = .vim/pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".vim/pack/plugins/start/vim-startify"]
	path = .vim/pack/plugins/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
